@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #f5f8ff;
  font-family: 'Roboto', sans-serif;
}

.main-content {
  width: 100%;
  margin: 15px;
}

button {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid transparent;
  padding: 8px 14px;
  border-radius: 0.25rem;
  background: #368dfd;
}

.btn-light {
  color: #368dfd;
  background: white;
}

.connection-panel {
  display: flex;
}

.connection-panel .users-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-basis: 30%;
  min-width: 30%;
}

.connection_box {
  background: white;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 10px;
  letter-spacing: 0.8px;
}

.connection_box h2 {
  font-size: 15px;
  margin: 0 0 7px 0;
}

.connection_box h3 {
  font-size: 13px;
  margin: 0 0 7px 0;
  color: #5f5f5f;
}

.connection_box p {
  font-size: 13px;
  margin: 0 0 3px 0;
  color: #5f5f5f;
}

.connectful-form {
  background: white;
  margin-top: 50px;
  border-radius: 20px;
  border: 1px solid lightgrey;
  padding: 30px;
}

.connectful-form h2 {
  text-align: center;
}

.connectful-formcontrol {
  margin-bottom: 10px;
}

.connectful-formcontrol label {
  display: block;
  font-size: 14px;
  letter-spacing: 0.8px;
  font-weight: bold;
  margin-bottom: 5px;
}

.connectful-formcontrol input,
.connectful-formcontrol select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.action-buttons {
  text-align: right;
}

@media only screen and (min-width: 767px) {
  .main-content {
    width: 700px;
    margin: 0 auto;
  }
}
