
.App {
  --custom-font: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

.App__nav {
  background-color: #0b1b32;
  color: #fff;
  overflow: auto;
}

.App__header {
  background-color: #0b1f3a;
  color: #bdbdbd;
  font-family: var(--custom-font);
  padding-left: 16px;
  padding-top: 32px;
  text-shadow: 2px 1px 2px black;
}

.App__header a {
  color: #bdbdbd;
}

.App__main {
  background-color: white;
  height: calc(100vh - 120px);
  overflow: auto;
}
